.fixhead{
  width: 100%;
  position: fixed;
  top: 0;
  z-index:2;
}
.header{
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 16px;
  background-color: #15253e;
}
.headerlianjia{
  padding: 5px 15px;
  border-radius: 2px;
  background-color: #fff;
  color: #00c187;
}
.headercity{
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #fff;
  color: #00c187;
}
.wraper{
  width: 1160px;
  margin: 0 auto;
}
.ant-menu{
  box-shadow: 0px 5px 2px #e2e8e5;
}
.ant-card-head{
  font-size: 25px;
  color: #00c187;
}


.digitcard{
  margin-top: 150px;
  background-color: #15253e;
}
.digitcard-text{
  height: 100px;
}
.digitcard-chart{
  height: 300px;
}

/*echarts start*/
.chartcard{
  background-color: #15253e;
  margin-top: 40px;
}
.chartcard-item{
  width: 1100px;
  height: 350px;
  margin: 0 auto;
  border-bottom: 1px dashed #838383;
}
.chartcard-item:last-child{
  border-bottom: 1px solid #15253e;
  /*覆盖，和背景色相同，去除最后一条下划线*/
}
.chartcard-table,.chartcard-text{
  width: 550px;
  height: 350px;
  padding-top: 40px;
  float: left;

}

.chartcard-text{
  font-size: 18px;
  line-height: 50px;
  color: #ccc;
}
.chartcard-text:nth-child(even){
  padding-left: 100px;
  text-align: left;
}
.chartcard-text:nth-child(odd){
  padding-right: 100px;
  text-align: right;
}


/* echarts end */

.itemscard{
  margin-top: 40px;

}
.sortbtngroup{
  padding-bottom: 15px;
}

.pricestrong{
  font-size: 24px;
  color: #00c187;
}

.ant-pagination {
  float: right;
  padding: 30px 10px;
}
.ant-back-top-content{
  position: absolute;
  right: -85px;
  background-color: #00c187;
}
.footcard{
  height: 70px;
  margin-top: 40px;
  background-color: #15253e;
}
