body{
  background-color: #fefefe;
}
li{
  list-style: none;
}
.fixhead{
  width: 100%;
  position: fixed;
  top: 0;
  z-index:2;
}
.header{
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 16px;
  background-color: #15253e;
}
.headerlianjia{
  padding: 5px 15px;
  border-radius: 2px;
  background-color: #fff;
  color: #00c187;
}
.headercity{
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #fff;
  color: #00c187;
}
.wraper{
  width: 90%;
  margin: 0 auto;
}
.ant-menu{
  box-shadow: 0px 5px 2px #e2e8e5;
}
.ant-card-head{
  font-size: 25px;
  color: #00c187;
}




.digitcard{
  margin-top: 150px;
  height: 300px;
  border: 1px solid #000;
  background-color: #15253e;
}

.chartcard{
  height: 600px;
  margin-top: 40px;
  border: 1px solid #000;
}
.datacard{
  margin-top: 40px;
}

.sortbtngroup{
  padding-bottom: 15px;
}

.pricestrong{
  font-size: 24px;
  color: #00c187;
}

.ant-pagination {
  float: right;
  padding: 30px 10px;
}
.ant-back-top-content{
  position: absolute;
  right: -85px;
  background-color: #00c187;
}
.footcard{
  height: 100px;
  margin-top: 40px;
  background-color: #e3e3e3;
}
